.list_style {
    box-shadow: 5px 5px 1px 3px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 20px 30px;
    .wrap_icon {
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            font-weight: 500;
            font-size: 23px;
        }
      
    }
    button {
        padding: 10px 20px;
        background-color: transparent;
        box-shadow: 5px 5px 1px 3px gray;
        &:hover {
            background-color: brown;
            color: white;
        }
    }
}